.CityList {
    position: absolute;
    bottom: 16px;
    top: 16px;
    right: 16px;
    width: 20%;
    background-color: rgba(255,255,255,0.7);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    line-height: 28px;
}

.CityYear { float: right; }
